:root{
    font-family: -apple-system,Helvetica,Arial,sans-serif;
    font-size: 16px;
    
}

main{
    background-color: rgb(255, 255, 255);
}


.btn{
    width: 27px;
    height: 25px;
    margin-left: 15px;
}



a{
    text-decoration:none;
    color:rgb(105, 74, 245)
}

.border-line{

    grid-row: 5;
    grid-column: 2/5;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 50px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;

    /* width: 100%; */


}
.posts{
    display: flex;
    /* margin-top: 70px; */
    padding-top: 50px;
    /* border-top: 1px solid #dfdfdf; */
    flex-flow: row wrap;
    /* border: 1px solid #000000; */
    justify-content: space-around;
}

.item-column{
    width: 1fr;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.img-post{
    width: 250px;
    height: auto;
    overflow: hidden;
    border-radius: 10%;
    /* border: 2px solid #939393; */
}