:root{
    font-family: -apple-system,Helvetica,Arial,sans-serif;
    font-size: 16px;
    
}

main{
    background-color: rgb(255, 255, 255);
}


.btn{
    width: 27px;
    height: 25px;
    margin-left: 15px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;

    /* width: 100%; */


}
.profile-info{
    display: grid;
    /* justify-content: center; */
    grid-template-rows: 3rem 1rem max-content max-content min-content;
    grid-template-columns:1fr 300px 300px 300px 1fr;

    gap: 20px;

}
.profile.img{
    grid-row: 1 / 4;
    grid-column: 2;
    /* align-items: right; */
    /* display: inline-block; */
    /* position: relative; */
    justify-self: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border-image: 2px solid #ffffff;
    border: 1px solid #000000;
}
.prof_picture{
    width: auto;
    height: 100%;
    margin-left: -35px;
    object-fit: contain;
    /* border-radius: 500px; */
    
}
.name{
    grid-row: 1;
    grid-column: 3;
    /* font-size: 35px; */
    /* border: 1px solid #000000; */
}
.account{
    font-size: 18px;
}

.btn-msg{
    padding: 0.5rem;
    border: 1px solid #717171;
    color: #717171;
    border-radius: 7px;
}

.btn-fllw{
    padding: 0.5rem;
    border: 1px solid #4b83fd;
    background-color: #4b83fd;
    color: #ffffff;
    border-radius: 7px;
}
.counter{
    grid-row: 2;
    grid-column: 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* border: 1px solid #000000; */
}
.data{
    grid-row: 3;
    grid-column: 3;
    /* border: 1px solid #000000; */
}
a{
    text-decoration:none;
    color:rgb(105, 74, 245)
}
.profile-description{
    line-height: 150%;
}

.stories{
    grid-row: 4;
    grid-column: 2/4;
    display: flex;
    flex-flow: row nowrap;
    /* width: 600px; */
    justify-content: space-between;
    /* border: 1px solid #000000; */
}
.border-line{

    grid-row: 5;
    grid-column: 2/5;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 50px;
}
.img-story{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #939393;
}

.txt-story{
    color: rgb(0, 0, 0);
}
.story{
    width: 100px;
    text-align: center;
}
.posts{
    display: flex;
    /* margin-top: 70px; */
    padding-top: 50px;
    /* border-top: 1px solid #dfdfdf; */
    flex-flow: row wrap;
    /* border: 1px solid #000000; */
    justify-content: space-around;
}

.item-column{
    width: 1fr;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.img-post{
    width: 250px;
    height: auto;
    overflow: hidden;
    border-radius: 10%;
    /* border: 2px solid #939393; */
}